﻿.left-col
{
    width: 40%;
    float: left;
    margin: auto;
}
.center-col
{
    width: 18%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
}
.right-col{
    width: 40%;
    float: left;
    margin:auto;
}

#popUpMsg-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}
#popUpMsg {
  top: 10%;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  padding: 10px 5px;
  background: white;
  border-radius: 5px;
  position: absolute;
}
#popUpMsg .close {
  background: black;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: -6px;
  right: -7px;
}
#popUpMsg .content {
  text-align: center;
  margin-bottom: 10px;
}
#popUpMsg button {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  border: 0;
  background: lightgray;
  padding: 5px 20px;
  cursor: pointer;
}
