﻿<br />
<div class="row">
    <div class="col-md-12" ng-hide="!cartItems || cartItems.length < 1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Общая стоимость</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cartItem in cartItems">
                    <td>{{cartItem.name}}</td>
                    <td>
                        <button class="btn btn-default" ng-click="decCount(cartItem)" ng-disabled="cartItem.count < 2">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        {{cartItem.count}}
                        <button class="btn btn-default" ng-click="incCount(cartItem)" ng-disabled="cartItem.count >= cartItem.left">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>
                    <td>{{cartItem.price * cartItem.count}} <span class="glyphicon glyphicon-rub"></span></td>
                    <td>
                        <button class="btn btn-danger" ng-click="removeFromCart(cartItem)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Итого:</b></td>
                    <td>{{getSum()}} <span class="glyphicon glyphicon-rub"></span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-default" ng-click="clearCart()">Очистить корзину</button>
        <h3>Введите данные для оформления заказа</h3>
        <form name="orderForm">
            <div class="form-group">
                <label>Адрес:</label>
                <input type="text" class="form-control" ng-model="order.address" required/>
            </div>
            <div class="form-group">
                <label for="contactPhone">Контактный телефон:</label>
                <input name="contactPhone" type="text" class="form-control" ng-model="order.contactPhone" required ui-mask="8(999)999-99-99" ui-mask-placeholder ui-mask-placeholder-char="_" />
            </div> 
            <div class="form-group">
                <input type="checkbox" title="Я согласен с политикой обработки персональных данных" ng-model="agree"/>
                <label>Я согласен с политикой обработки персональных данных</label>
            </div>           
        </form>
        <div class="col-md-12">
            <button class="btn btn-default" ng-click="submitOrder()" ng-disabled="orderForm.$invalid || !agree || !submited">Оформить</button>
            <p class="text-success" ng-hide="!message">{{message}}</p>
        </div>
        <ng-loading loading-data="submited"></ng-loading>        
    </div>
    <div class="col-md-12" ng-show="!cartItems || cartItems.length < 1">
        <p>Похоже ваша корзина пуста! :C</p>
        <p>Вы можете добавить в нее что-нибудь интересное в <a href="/home">нашем магазине</a> C:</p>
    </div>
</div>
