﻿<div class="row">
    <div class="col-md-3" ng-show="url != 'search'">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapse1">Специальные фильтры</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-show="routeId == '58dd617d44fa85046c559298'">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label>Год издания</label>
                                    <rzslider class="custom-slider"
                                              rz-slider-model="yearRanger.min"
                                              rz-slider-high="yearRanger.max"
                                              rz-slider-options="yearRanger.options"></rzslider>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>Автор:</label>
                                        <input type="text" class="form-control" ng-model="author" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ng-show="routeId == '58dd61cd44fa85046c559299'">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label>Количество игроков</label>
                                    <rzslider class="custom-slider"
                                              rz-slider-model="playersRanger.min"
                                              rz-slider-high="playersRanger.max"
                                              rz-slider-options="playersRanger.options"></rzslider>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapse2">Общие фильтры</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label>Цена:</label>
                                <rzslider class="custom-slider"
                                          rz-slider-model="priceRanger.min"
                                          rz-slider-high="priceRanger.max"
                                          rz-slider-options="priceRanger.options"></rzslider>
                            </li>                           
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>Название:</label>
                                    <input type="text" class="form-control" ng-model="searchName" />
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>Издательство:</label>
                                    <input type="text" class="form-control" ng-model="issuer" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success btn-block" ng-click="filterGames()" ng-show="routeId == '58dd61cd44fa85046c559299'">Применить</button>
        <button class="btn btn-success btn-block" ng-click="filterBooks()" ng-show="routeId == '58dd617d44fa85046c559298'">Применить</button>        
    </div>
    <div class="col-md-9">
        <ng-loading loading-data="items"></ng-loading>
        <div class="thumbnail" href="#" ng-repeat="item in items">
            <div class="row">
                <div class="col-md-7">
                    <div id="Carousel{{item.id}}" class="carousel slide" data-ride="carousel" data-interval="0">
                        <!-- Indicators -->
                        <ol class="carousel-indicators" ng-show="item.photos.hasOwnProperty('photo1')">
                            <li data-target="#Carousel{{item.id}}" ng-repeat="p in item.photos" data-slide-to="{{$index}}" ng-class="$index == 0 ? 'active' : ''"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item" ng-repeat="(key,val) in item.photos" ng-class="$index == 0 ? 'active' : ''">
                                <img src="{{val}}" />
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" data-target="#Carousel{{item.id}}" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" data-target="#Carousel{{item.id}}" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4>{{item.name}}</h4>
                    <p>Цена: {{item.price}} <span class="glyphicon glyphicon-rub"></span></p>
                    <p>Осталось: {{item.left}}</p>
                    <div ng-repeat="(key,val) in item.properties">
                        <p ng-show="key != 'Полка' && key != 'Секция'">
                            {{key}}: {{val}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success" ng-click="addToCart(item)" ng-disabled="!authentication.isAuth || item.left < 1">
                            В корзину
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
