﻿<div class="row">
    <ng-loading loading-data="items"></ng-loading>
    <div class="col-md-6" ng-repeat="item in items">
        <div class="thumbnail" href="#">
            <div class="row">
                <div class="col-md-6">
                    <div id="Carousel{{item.id}}" class="carousel slide" data-ride="carousel" data-interval="0">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#Carousel{{item.id}}" ng-repeat="p in item.photos" data-slide-to="{{$index}}" ng-class="$index == 0 ? 'active' : ''"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item" ng-repeat="(key,val) in item.photos" ng-class="$index == 0 ? 'active' : ''">
                                <img src="{{val}}" />
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" data-target="#Carousel{{item.id}}" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" data-target="#Carousel{{item.id}}" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h4>{{item.name}}</h4>
                        <p>Цена {{item.price}} <span class="glyphicon glyphicon-ruble"></span></p>
                        <button class="btn btn-success" ng-click="addToCart(item)" ng-disabled="!authentication.isAuth || item.left < 1">
                            В корзину
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div ng-repeat="tag in item.tags">
                                <span class="label label-success" href="#" ng-click="tagClick(tag)">{{tag.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>