﻿<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home</title>
    <base href="/" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Libraries/dist/rzslider.min.css" rel="stylesheet" />
    <link href="Content/Custom.css" rel="stylesheet" />

    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Libraries/mask.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>    
    <script src="Libraries/dist/rzslider.min.js"></script>

    <script src="app.js"></script>
    <script src="Directives/LoadingDirective.js"></script>
    <script src="Services/AuthService.js"></script>
    <script src="Controllers/HomeController.js"></script>
    <script src="Controllers/CategoryController.js"></script>
    <script src="Controllers/ItemController.js"></script>
    <script src="Controllers/IndexController.js"></script>
    <script src="Controllers/RegisterController.js"></script>
    <script src="Controllers/LoginController.js"></script>
    <script src="Controllers/CartController.js"></script>
</head>
<body ng-controller="IndexController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home" ng-click="toMain()">Главная</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/category/58dd617d44fa85046c559298">Книги</a></li>
                    <li><a href="/category/58dd61cd44fa85046c559299">Настольные игры</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск" ng-model="searchFilter">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="search()">Поиск</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="authentication.isAuth">
                        <a data-toggle="modal" data-target="#registerModal">Регистрация</a>
                    </li>
                    <li ng-hide="authentication.isAuth">
                        <a data-toggle="modal" data-target="#loginModal">Вход</a>
                    </li>
                    <li ng-hide="!authentication.isAuth">
                        <a href="">Добро пожаловать, {{authentication.FIO}}!</a>
                    </li>
                    <li ng-hide="!authentication.isAuth">
                        <a href="" ng-click="logOut()">Выйти</a>
                    </li>
                    <li ng-hide="!authentication.isAuth">
                        <a href="/cart">Корзина ({{cartItemsCount}})</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div ng-view></div>
    </div>
    <br />
    <br />
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <footer class="navbar-fixed-bottom">
                    <div class="col-xs-6">
                        <p>&copy; 2017 - ИП "Ромашка"</p>
                        <a href="#">Политика обработки ПДн</a>
                    </div>
                    <div class="col-xs-6">
                        
                    </div>                    
                </footer>
            </div>
        </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" ng-controller="RegisterController">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Регистрация</h4>
                </div>
                <div class="modal-body">
                    <form name="registerForm">
                        <div class="form-group">
                            <label class="control-label">Фамилия:</label>
                            <input name="surName" type="text" class="form-control" ng-model="user.surName" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Имя:</label>
                            <input name="firstName" type="text" class="form-control" ng-model="user.firstName" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Отчество:</label>
                            <input name="lastName" type="text" class="form-control" ng-model="user.lastName" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Адрес:</label>
                            <input name="address" type="text" class="form-control" ng-model="user.address" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Имя пользовател:</label>
                            <input name="username" type="text" class="form-control" ng-model="user.username" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Адрес электронной почты:</label>
                            <input name="email" type="email" class="form-control" ng-model="user.email" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Телефон:</label>
                            <input name="phone" type="text" class="form-control" ng-model="user.phone" required ui-mask="8(999)999-99-99" ui-mask-placeholder ui-mask-placeholder-char="_" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Пароль:</label>
                            <input name="password" type="password" class="form-control" ng-model="user.password" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Подтверждение пароля:</label>
                            <input name="confirmPassword" type="password" class="form-control" ng-model="confirmPassword" required />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" title="Я согласен с политикой обработки персональных данных" ng-model="agree" />
                            <label>Я согласен с политикой обработки персональных данных</label>
                        </div>
                        <div class="form-group">
                            <p class="text-danger" ng-show="confirmPassword != user.password">Пароль и подтверждение пароля не совпадают</p>
                        </div>
                        <div class="form-group">
                            <p class="text-warning">{{message}}</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-2">
                        <ng-loading loading-data="show" ng-show="loading"></ng-loading>
                    </div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-success" ng-click="register()" ng-disabled="confirmPassword != user.password || registerForm.$invalid || !agree">Регистрация</button>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" ng-controller="LoginController">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вход</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">Логин:</label>
                            <input type="text" class="form-control" ng-model="loginData.username" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Пароль:</label>
                            <input type="password" class="form-control" ng-model="loginData.password"/>
                        </div>
                        <div class="form-group">
                            <p class="text-danger">{{message}}</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-2">
                        <ng-loading loading-data="show" ng-show="loading"></ng-loading>
                    </div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-success" ng-click="login()">Войти</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>
